<div>Frequently Bought Together</div>
<div id="frequently-bought-together" class="frequently-bought-together-container">
    {% for product in product.metafields.custom.frequent_bought_together.value %}
    <div id="frequently-bought-together-item" class="frequently-bought-together-item">
    {{product.title}}
      <a href={{product.url}}>
        {{product.featured_image | image_url: width: 50 | img_tag: product.title,'frequently-bought-together-item-thumbnail',''}} 
      </a>
      <label for="{{product.id}}">{{product.title}} </label>
      <input type="hidden" id="addOnId-{{product.id}}" value="{{product.selected_or_first_available_variant.id}}">
      <input min="0" type="number" id="addOnQuantity" value="1"/>
    </div>
    {%unless forloop.last %} 
    <div class="frequently-bought-together-and-sign">+</div>
    {%endunless%} 
    {% endfor %}
  </form>
</div>